.container {
  margin: 0px;
  padding: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.title h3 {
  font-family: "Poppin", sans-serif;
  padding: 5px;
  margin-bottom: 5px;
  align-items: center;
  color: rgb(102, 97, 97);
}
.title img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
}
.foodTime {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  padding: 5px;
}
.servefor {
  display: flex;
  justify-content: space-evenly;
}
.instructions h3 {
  margin-left: 30px;
}
.instructions ul li {
  margin-bottom: 5px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(61, 53, 43);
}
